body{
    text-align: center;
    font-family: sans-serif;
}

.my-progress{
    margin: auto;
    border: 1px solid #000;
    border-radius: 3px;
    margin-bottom: 30px;
    width: 1000px;
    height: 30px;
    position: relative;
}

.my-bar{
    width: 0%;
    height: 30px;
    background: rgb(20, 151, 129);
    transition: 2s;
}
.my-progress:hover .my-bar{
    width: 90%;
}

#box{
    color: #fff;
    height: 20px;
    display: inline-block;
    background: rgb(20, 151, 129);
    border-radius: 3px;
    position: absolute;
    top: -35px;
    left: -1%;
    transition: 2s
}
.my-progress:hover #box{
    left: 88.5%;
}

.triange{
    position: absolute;
    top: -15px;
    left: -0.5%;
    border-top: 6px solid rgb(20, 151, 129);
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    transition: 2s
}
.my-progress:hover .triange{
    left: 89.5%;
}

.my-progress-1{
    margin: auto;
    border: 1px solid #000;
    border-radius: 3px;
    margin-bottom: 30px;
    width: 1000px;
    height: 30px;
    position: relative;
}
.my-bar-1{
    width: 0%;
    height: 30px;
    background: rgb(20, 136, 151);
    transition: 2s;
}
.my-progress-1:hover .my-bar-1{
    width: 80%;
}
#box1{
    color: #fff;
    height: 20px;
    display: inline-block;
    background: rgb(20, 136, 151);
    border-radius: 3px;
    position: absolute;
    top: -35px;
    left: -1%;
    transition: 2s
}
.my-progress-1:hover #box1{
    left: 78.5%;
}
.triange-1{
    position: absolute;
    top: -15px;
    left: -0.5%;
    border-top: 6px solid rgb(20, 136, 151);
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    transition: 2s
}
.my-progress-1:hover .triange-1{
    left: 79.5%;
}
.my-progress-2{
    margin: auto;
    border: 1px solid #000;
    border-radius: 3px;
    margin-bottom: 30px;
    width: 1000px;
    height: 30px;
    position: relative;
}
.my-bar-2{
    width: 0%;
    height: 30px;
    background: rgb(20, 72, 151);
    transition: 2s;
}
.my-progress-2:hover .my-bar-2{
    width: 50%;
}
#box2{
    color: #fff;
    height: 20px;
    display: inline-block;
    background: rgb(20, 72, 151);
    border-radius: 3px;
    position: absolute;
    top: -35px;
    left: -1%;
    transition: 2s
}
.my-progress-2:hover #box2{
    left: 48.5%;
}
.triange-2{
    position: absolute;
    top: -15px;
    left: -0.5%;
    border-top: 6px solid rgb(20, 72, 151);
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    transition: 2s
}
.my-progress-2:hover .triange-2{
    left: 49.5%;
}